*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    background-color:#dddddd;
    background-position:center center;
    height:100hv;
}

.menu-area li a{
    text-decoration: none; 
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: block;
    padding:0 25px;
    font-size: 14px;
    line-height:30px;
    position: relative;
    z-index:1;
}

.menu-area li a{
    list-style: none;
    display: inline-block;

}

.custom-padding{
    padding-top:25ps;
}
  .wrapper {
      margin: 0% auto;
      width: 960px;
    background-color: #fff;

  }

nav{
    position: center;
    padding: 10px 20px 10px 10px;
    text-align: right;
    z-index: 1;
    background: white;
    margin: 0 auto;
    width: calc(100% - 60px);

}
h1{
    color:#4aaaa5;

}

.logo {
    width: 15%;
    float: left;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    text-align: left;
    padding: 2%;
    background-color: #4aaaa5;


}
